@use './root' as r;

@media screen and (min-width:0px){
  .container{
    margin-left: 30px;
    margin-right: 30px;
  }

  .btn-primary{
    background-color: r.$primary;
    border: none;
    border-radius: r.$sm-radius;
    color: white;
    padding: .5em 1em;
  }

  .btn-secondary{
    background-color: transparent;
    border: 1px solid r.$primary;
    border-radius: r.$sm-radius;
    color: white;
    padding: .5em 1em;
  }
}