@use './root' as r;

.mask{
  background-color: rgba(0, 0, 0, 0.66);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.top-section{
  height: 100vh;
}

.container{
  margin: 0px 30px;

  @media(min-width:1000px) {
    margin: 0px 375px;
  }
}
@media screen and (min-width:0px){

  .btn-primary{
    background-color: r.$primary;
    border: none;
    border-radius: r.$sm-radius;
    color: white;
    padding: .5em 1em;
  }

  .btn-secondary{
    background-color: transparent;
    border: 1px solid r.$primary;
    border-radius: r.$sm-radius;
    color: white;
    padding: .5em 1em;
  }

  .header-lg{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 900;
    font-style: italic;
  }

  .body-text{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
  }
}

@media screen and (min-width:1000px) {
  .top-section{
    display: flex;
    flex-direction: column;
  }

  .header-lg{
    font-size: 105px;
  }
}

.section-sm-header, .section-sub-header, .services-card-info, .footer-container{
  font-family: 'Oswald', sans-serif;
}

.section-sub-header{
  font-size: 20px;
  color: r.$primary;
}

.section-sm-header{
  font-size: 32px;
}

.card-main-text{
  font-size: 25px;
  color: r.$gray;
}

.card-starting-at{
  font-size: 13px;
  font-weight: lighter;
}

.services-price{
  font-size: 25px;
  font-weight: bold;
}

.sell-area{
  font-family: 'Roboto', sans-serif;
}

.price-card-header{
  font-size: 44px;
  font-weight: 900;
  font-style: italic;
}

.price-card-sub-header{
  font-size: 17px;
  font-weight: 900;
  font-style: italic;
  color: r.$gray;
}

.price-card-price{
  font-size: 55px;
  font-weight: 900;
  font-style: italic;
}