@use './root' as r;

@media screen and (min-width:0px){
  .container{
    margin: 0px 30px;
  }

  .btn-primary{
    background-color: r.$primary;
    border: none;
    border-radius: r.$sm-radius;
    color: white;
    padding: .5em 1em;
  }

  .btn-secondary{
    background-color: transparent;
    border: 1px solid r.$primary;
    border-radius: r.$sm-radius;
    color: white;
    padding: .5em 1em;
  }

  .header-lg{
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    font-weight: 900;
    font-style: italic;
  }

  .body-text{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
  }
}