@use './root' as r;

.hero{

  .hero-container{
    display: flex;
    flex-direction: column;

    @media(min-width:1200px){
      flex-direction: row;
      height: 600px;
    }
  }

  .left-hero{
    background-color: r.$gray-bg;
    color: white;
    width: 100%;
    position: relative;
    padding-bottom: 15%;
    height: 100%;
    position: relative;

    @media(min-width:1200px){
      padding-bottom: 5%;
    }
    
  .left-hero-text{
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    @media(min-width:1200px){
      height: 100%;
      justify-content: space-around;
    }
  }

  .left-hero-graphic-right{
    display: none;

    @media(min-width:1200px){
      display: block;
      position: absolute;
      right: 2px;
      height: 100%;
      z-index: 2;
      transform: translateX(100%);
    }
  }

  .left-hero-bottom-graphic{
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .left-hero-scroll-down{
    .scroll-down-box{
      border-right: 1px solid r.$lighter-gray;
      width: 50%;
      height: 50px;
    }
  }
  }

  .right-hero{
    height: 512px;
    width: 100%;
    background-color: black;

    @media(min-width:1200px){
      height: 100%;
      width: 50%;
    }

    .right-hero-img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}