@use './root' as r;

.services{
  position: relative;
  background-color: black;
  color: white;
  padding: 132px 0px;
}

.services-container{
  z-index: 3;
  position: relative;
}

.services-graphics-bot-left, .services-graphics-top-right{
  position: absolute;
}

.services-graphics-bot-left{
  bottom: 0;
  left: 0;
}

.services-graphics-top-right{
  top: 0;
  right: 0;
}

// Services Area

.services-area{
  display: flex;
  flex-direction: column;
  gap: r.$padding-link;
  padding-top: r.$padding-lg;
}

.services-area-right{
  .logos{
    margin-bottom: r.$padding-link;
  }
}

.services-card-lg, .services-card-sm{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: r.$sm-radius;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
}

.services-card-lg{
  background-image: url('../img/swiper-img/Photo\ Mar\ 04\,\ 4\ 58\ 57\ PM.jpg');
}

.services-card-sm.logos{
  background-image: url('../img/logos-section-img/Photo\ Jul\ 27\,\ 12\ 35\ 54\ PM.jpg');
}

.services-card-sm.number-plates{
  background-image: url('../img/swiper-img/Photo\ Feb\ 13\,\ 9\ 57\ 49\ PM\ \(2\).jpg');
}

// Services Card Info
.services-card-info{
  background-color: white;
  color: black;
  padding: r.$padding-link;
  border-radius: 25px 0px r.$sm-radius 0px;
}

.services-card-info-top-section{
  display: flex;
  align-items: center;
  gap: 10px;

  .arrow-box{
    display: none;
    opacity: 0;

    .arrow-hover{
      display: block;
      border-top: 1px solid black;
      height: 50%;
      width: 100%;
    }
  }
  
}

@media (min-width:1000px) {
  .services-area-left {
    width: 50%;
  }

  .services-area-right {
    width: 50%;
  }

  .services-card-sm {
    aspect-ratio: 2/1;
  }

  .services-area {
    flex-direction: row;
    .services-card-lg {
      height: 100%;
      width: 100%;
    }
  }
}